/* .App{
  height: 100vh;
  width:100vw;
  display: flex;
  color: gray;
  background-color: black;
  font-family: 'Roboto', sans-serif;
} */

.landing{
  height: 100vh;
  width:100vw;
  display: flex;
  color: gray;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.sideBar{
  border-right: 2px solid gray;
  width: 15vw;
  height: 100vh;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard,.schools{
  background-color: #232426;
  margin-top: 1rem;
  padding: 2rem;
  width: 80vw;
  height: 82vh;
}

.profile-image{
  border: 2px solid gray;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.productName{
  font-weight: bolder;
  text-align: center;
  color: white;
}

.productName i {
  color: #f44271;
}

.dashboard section{
  width: 15rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 5%;
  margin: 1rem;
}

section p{
  color: white;
}

.dashboard{
  display: flex;
  height: fit-content;
}

.count{
  font-size: 1.5rem;
}
