.App{
  height: 100vh;
  width:100vw;
  display: flex;
  color: gray;
  /* background-color: black; */
  font-family: 'Roboto', sans-serif;
}

.productName{
  text-align: center;
}

.product{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product i {
padding-right: 1rem;
}

/* 
.home{
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background-color:black;
  font-family: 'Roboto', sans-serif;
} */


/* HOME-PAGE STYLING */
.home{
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home::after {
    content: "";
    background: url('./images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


.home input{
  width: 300px;
}

.landing{
  height: 100vh;
  width:100vw;
  display: flex;
  color: gray;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.sideBar{
  border-right: 2px solid gray;
  width: 15vw;
  height: 100vh;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard,.schools,.profile,.notifications,.schoolInfo{
  background-color: #232426;
  margin-top: 1rem;
  padding: 2rem;
  width: 80vw;
  height: 83vh;
}

.profile-image{
  border: 2px solid gray;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.productName{
  font-weight: bolder;
  text-align: center;
  color: white;
}

.productName i {
  color: #f44271;
}

.dashboard section{
  width: 15rem;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-radius: 5%;
  margin: 1rem;
}

section p{
  color: white;
}

.dashboard{
  display: flex;
  height: fit-content;
}

.count{
  font-size: 1.5rem;
}

.profile{
  background-color: #232426;
}


.user-image{
  border:1px solid gray;
  text-align: center;
  /* padding: 1rem; */
}

.user-pic{
  /* border: 1px solid gray; */
  /* border-radius: 40%; */
}

.input-fields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-fields-pic{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
}

.notifications-firebase-input{
  display: flex;
  align-items: center;
}

.update-pic{
  /* width: 8rem;
  height: 8rem;
  border-radius: 40%; */
  /* border: 2px solid gray; */
}

.radio-btns{
  display: flex;
  background-color:  #232426;
  padding: 2rem;
  color: white;
}


.radio-btns input{
  margin-left: 2rem;
}

.notifications section{
  background-color: black;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

}


.notifications-firebase-input{
  background-color:  #232426;
  padding-top: 2rem; 
  color: white;
  padding-left: 2rem;
}

.profile section{
  background-color: black;
  padding: 3rem;
  margin: 0.8rem;
}

section h4{
  color: white;
}

.user-details{
  display: flex;
}


.user-details div{
  padding-right: 2rem;
  color: white;
  font-weight: bold;
}

.user-details input{
  width: 350px;
  margin-bottom: 1rem;
}

.user-details-indv{
  display: flex;
  flex-direction: column;
}

.profile input:focus{
  border: 2px solid #e02a64;
}

.schoolInfo section{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: black;
  width: fit-content;
  padding: 1rem;
  border-radius: 5%;
}


.schoolInfo section i{
 padding-right: 1rem;
}

.logout{
  margin-bottom: 2rem;
}

.notifications input[type = "text"]{
  width: 250px;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.school-branches{
  display: flex;
}


.school-branches section{
  margin-right: 1rem;
  width: 250px;
}